.bubble {
  border-radius: 6px;
  overflow: hidden;
  // background-color: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  >.image {
    width: 100%;
    height: 100%;

  }
  .fail-img {
    font-size: 120px;
    color: #ccc
  }
}
.secret-bubble{
  line-height: 40rpx;
  font-size: 30rpx;
  padding: 20rpx;
  max-width: 530rpx;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666666;
  font-style: italic;
}