.list_item {
  box-sizing: border-box;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 34px;
  border-bottom: 1px solid #D9D9D9;
  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .icon {
      font-size: 60px;
      color: #7F7F7F;
      margin-right: 24px;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .notif_right {
      margin-left: 10px;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: #EA4335;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #EA4335;
    }
    .arrow_right {
      flex-shrink: 0;
      flex-grow: 0;
      color: #CED2D6;
    }
  }
}
