.room_avatar {
    width: 100px;
    height: 100px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    white-space: normal;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    .room_badge {
      font-size: 18rpx;
      color: #ffffff;
      width: 24rpx;
      height: 20rpx;
      line-height: 26rpx;
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: center;
      border-radius: 15rpx 0 10rpx 0;
      overflow: hidden;
      background-color: #4285f4;
      border-radius: 15rpx 0 10rpx 0;
      font-size: 18rpx;
      // z-index: 1;
      border-radius: 10rpx 0;
      font-size: 18rpx;
      font-family: PingFangSC-Regular;
      // padding: 2rpx 0 0 4rpx;
      box-sizing: border-box;
    }
  }