.badge_wrapper {
  position: relative;
}
.room_badge {
  font-size: 22px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: -10px;
  top: -6px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  background-color:#EA4335;
  z-index: 1;
}