.bubble {
  line-height: 40px;
  font-size: 32px;
  padding: 20px;
  max-width: 530px;
  box-sizing: border-box;
  color: #333333;
  .url {
    color: #1951AE;
  }
}
.secret-bubble{
  line-height: 40rpx;
  font-size: 30rpx;
  padding: 20rpx;
  max-width: 530rpx;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666666;
  font-style: italic;
}