page {
  font-size: 20px;
  letter-spacing: 0;
  font-family: "iconfont";
  height: 100%;
  background-color: #f3f5f5;
}

button::after {
  border: none;
}

@font-face {
  font-family: 'iconfont';  /* project id 927716 */
  src: url('https://at.alicdn.com/t/font_927716_qvnggaa81f.eot');
  src: url('https://at.alicdn.com/t/font_927716_qvnggaa81f.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_927716_qvnggaa81f.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_927716_qvnggaa81f.woff') format('woff'),
  url('https://at.alicdn.com/t/font_927716_qvnggaa81f.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_927716_qvnggaa81f.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plaza_hot_more:before {
  content: "\e6c3";
}

.icon-plaza_flow_none:before {
  content: "\e6bf";
}
.icon-dynamic_like_select:before {
  color: #eb4234;
  content: "\e6ca";
}
.icon-share_wechatlink:before {
  color: #00c267;
  content: "\e651";
}
.icon-dynamic_share:before {
  content: "\e6b3";
}
.icon-video_play1:before {
  content: "\e63a";
}
.icon-zhi_logo:before {
  color: #1851ae;
  content: "\e6a5";
}
.icon-dynamic_read:before {
  content: "\e697";
}
.icon-dynamic_like_default:before {
  content: "\e694";
}
.icon-dynamic_comment:before {
  content: "\e691";
}
.icon-plaza_flow_begin:before {
  content: "\e6c2";
}
.icon-error_adviser:before {
  content: "\e6b1";
}
.icon-minipro_cover_default:before {
  content: "\e63e";
}
.icon-consult_history_btn:before {
  content: "\e6db";
}

